@import "node_modules/ol/ol.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
     
    width: 100%;
    max-width: 440px;
    height: 100%;
    transition: transform 0.3s ease;
    z-index: 1;
    position: relative;
}
.sidebar2,#menu-icon{
display: none;
}

.sidebar.shrink {
    transform: translateX(-100%);
}

.heading {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.state-info{
  background-color: #e87b38;;
  color: aliceblue;
  padding: 10px;
  margin: 4px;
  border-radius: 3px;
  text-align: center;
} 
.last-updated{
  background-color: white;
  color:  black;
  padding: 10px;
  margin: 4px;
  border-radius: 3px;
  text-align: center;
} .section-title, .category-item {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    margin: 4px;
    border-radius: 3px;
    text-align: center;
}
 /* bridge dropdown */
 .bridge-dropdown-list {
    display: none;
    background-color: white;
    border: 0;
    border-bottom: 1px solid transparent;
    border-radius: 7px;
    height: 200px;
    width: 300px;
}

.bridge-dropdown {
    
    position: relative;
    display: inline-block;
    text-align: center;
    align-items: center;
 }

.bridge-dropdown button {
    background:transparent;
    border: none;
    padding: 3px 15px;
    font-size: 23px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
 #bridge-dropdown-li-button{
    background:transparent;
    border: none;
    padding: 3px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
 }

.bridge-dropdown-list {
    display: none;
    position: absolute;
    background: #fff;
    width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.bridge-dropdown-list ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.bridge-dropdown-list ul li {
    padding-top: 10px;
    padding-left: 5px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bridge-dropdown-list ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    width: 100%;
}

.bridge-dropdown-list ul li:hover {
    background-color: #e1e1e1;
}
  
  
  /* search input */
  ::placeholder {
    color: #555;
}

.result-box ul {
    border-top: 1px solid #999;
    padding: 1px 10px;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover {
    background: #e9f3ff;
}
/* search input dwopdown */
.search-dropdown-list {
    display: none;
    background-color: white;
    border: 0;
    border-bottom: 1px solid transparent;
    border-radius: 7px;
    height: 200px;
    width: 300px;
}

.search-dropdown {
    
    position: relative;
    display: inline-block;
    text-align: center;
    align-items: center;
 }

.search-dropdown button {
    background:transparent;
    border: none;
    padding: 3px 15px;
    font-size: 23px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
 #search-dropdown-li-button{
    background:transparent;
    border: none;
    padding: 3px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
 }

.search-dropdown-list {
    display: none;
    position: absolute;
    background: #fff;
    width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.search-dropdown-list ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

.search-dropdown-list ul li {
    padding-top: 10px;
    padding-left: 5px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-dropdown-list ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    width: 100%;
}

.search-dropdown-list ul li:hover {
    background-color: #e1e1e1;
}
/* measure box */

.measure-box-header {
    color: #fff;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid #fff;
    margin: 5px;
    padding-left: 15px;
    height: 42px;
    width: 23vw;
    font-size: larger;
}

.measure-box-list-button button {
    background-color: blue;
    color: #fff;
    border: 0;
    font-size: unset;
}

.measure-box-list,
.measure-box-submit select {
    background-color: #fff;
    margin: 10px;
    padding-left: 15px;
    height: 42px;
    width: 20vw;
}

.measure-box-list div {
    padding-top: 10px;
    font-size: larger;
    font-weight: 300;
    margin-top: 25px;
}

.measure-box-list select {
    border: 0;
    outline: 0;
}
/* query pannel button */
.query-pannel-header-ul button {
    background: transparent;
    text-decoration: none;
    border: 0;
    color: #fff;
}

.query-pannel-header-ul button:hover {
    background: #e2e2e2;
    box-shadow: 2px 2px 5px 0px rgba(243, 17, 17, 0.5);
    color: black;
    height: 2em;
}




        .query-pannel-button button {
            background-color: blue;
            color: #fff;
            border: 0;
            font-size: unset;
        }
        .query-pannel-button button:hover {
            border: 0;
            font-size: unset;
            color: black;
            background: #e2e2e2;
            text-align: center;
            align-items: center;
            
        }
        
        .attribute-box-list,
        .query-pannel-submit input {
            background-color: #fff;
            margin: 5px;
            padding-left: 15px;
            height: 42px;
            width: 20vw;
        }

        .attribute-box-list div {
            padding-top: 10px;
            font-size: larger;
            font-weight: 300;
            margin-top: 25px;
        }

        .draw-box-list div {
            padding-top: 10px;
            font-size: larger;
            font-weight: 300;
            margin-top: 25px;
        }

        .draw-box-list {
            background-color: #fff;
            margin: 5px;
            padding-left: 15px;
            height: 42px;
            width: 20vw;

        }
/* layer list */
.layer-header {
    color: #fff;
    height: 50px;
    font-size: large;
    text-align: center;
    align-items: center;
}



.layer-button button {
    background-color: blue;
    color: #fff;
    border: 0;
    font-size: unset;
}

.layer-box-list,
.layer-submit input {
    background-color: #fff;
    margin: 5px;
    padding-left: 15px;
    height: 42px;
    width: 20vw;
}

.layer-box-list div {
    padding-top: 10px;
    font-size: larger;
    font-weight: 300;
    margin-top: 25px;
}


/*   navbar */
.category-item {
    background-color: white;
    color: inherit;
    border: 2px solid black;
    margin: 4px;
}

.main-map {
     width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease, height 0.3s ease;
    position: relative;
    z-index: 0;
}
.map{
  height: 100%;
  background-color: rgb(149, 207, 214);
}

.main-map.expand {
    width: 100%;
    height: 100%;
}

.btns {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn {
    background-color: #e87b38;
    margin: 10px;
    padding: 10px;
}

#map {
    width: 100%;
    height: calc(100% - 60px); /* Adjust height to account for button */
    margin: 20px 0;
}

#toggle-sidebar{
margin: 1px;
}
 #show-table {
    position: sticky;
    top: 10px;
    right: 10px;
    z-index: 2;
    background-color: #e87b38;
    border: none;
    padding: 10px;
    cursor: pointer;


    width: 60px; 
    height: 40px; 
    margin: 1px; 
    position: fixed; 
    z-index: 1;
}

#show-table {
    top: 26rem; /* Adjust positioning if needed */
    border-radius: 10px;
}
/* table starts from here */
.table-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
    max-height: 200px;
    overflow-y: auto;
}
 
.tbl{
    height: 400px;
    margin-bottom: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #e87b38;  
  overflow: hidden;
}
.nav-left a{
  
    float: left; 
    display: block;  
    color: white; 
    text-align: center;  
    padding: 14px 20px; 
    text-decoration: none;
}


.nav-right a{
     
    
    float: left; 
    display: block;  
    color: white; 
    text-align: center;  
    padding: 14px 20px; 
    text-decoration: none;

}
.nav-left a:hover{
    background-color: #3cf124;  
    color: black;
}
.nav-right a:hover{
    background-color: #3cf124; 
    color: black;
}
.nav-left a:active {
    background-color: #98df9a;
    color: white;
}

.nav-right a:active {
    background-color: #0981de;
    color: white;

}

.close a:active {
    background-color: #dd1d1d;
    color: white;

}
 .heading th:hover{
    color: #e35f0e;
 }
 .heading th:active{
    color: #e35f0e;
 }
 .subcolomn td:hover{
    color: #465ade;
 }
 tbody tr{
    height: 40px;
 }
 .subcolomn td{
    
    padding: 4px;
     
 }
 th,tr, td {
    border: 1px solid black;
    
  
  }


  .lower-table{
    width: 50%;
     
  }
  /* table end from here */

  /* search input box */
#search-input,#search-input-div,#search-input-dropdown{
  display: none;
}
/* map layer div */
.map-layer input{
        height: 1.5em;
        width: 1em;
        margin: 7px;
        padding: 0px;
}
.map-layer h2{
    font-size: larger;
 background-color: #e87b38; 
 border-radius: 3px;      
         padding-inline: 15px;
}
/*  place layer start here */

.place-map-layer button{
    border: 0;
    background: transparent;    
    height: 1.5em;
        width: 10em;
        margin: 7px;
        padding: 0px;
        border-radius: 5px;
}
.place-map-layer button:hover{
    background-color: #999;
}
.place-map-layer button:active{
    background-color: #465ade;
}
.place-map-layer h2{
    font-size: larger;
 background-color: #e87b38; 
 border-radius: 3px;      
         padding-inline: 15px;
}
/* ----------- */
 


/*  place layer end here */

