@import "node_modules/ol/ol.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
     
    width: 100%;
    max-width: 440px;
    height: 100%;
    transition: transform 0.3s ease;
    z-index: 1;
    position: relative;
}
.sidebar2,#menu-icon{
display: none;
}

.sidebar.shrink {
    transform: translateX(-100%);
}

.heading {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.state-info{
  background-color: rgb(245 85 45 / 87%);
  color: aliceblue;
  padding: 10px;
  margin: 4px;
  border-radius: 3px;
  text-align: center;
} 
.last-updated{
  background-color: white;
  color:  black;
  padding: 10px;
  margin: 4px;
  border-radius: 3px;
  text-align: center;
} .section-title, .category-item {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    margin: 4px;
    border-radius: 3px;
    text-align: center;
}
 
  
  
  .dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-trigger {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 255px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  
  .dropdown-trigger span {
    transition: transform 0.2s;
  }
  
  .dropdown-container:hover .dropdown-trigger span {
    transform: rotate(180deg);
  }
  
  .dropdown-menu {
    position: absolute;
    left: 385px;
    z-index: 9999;
    display: none;
    width: 150px;
     background-color: black;
    color: white;
    padding: 8px;
    border-radius: 6px;
  }
  .dropdown-menu li{
    border: 2px solid rgba(218, 218, 218, 0.531);
margin: 0;
  }
  .dropdown-container:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-link {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-radius: 1px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s;
  }
  
  .dropdown-link:hover {
    background-color: rgba(59, 130, 246, 0.2); /* Example color for hover effect */
  }
  
  .dropdown-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .dropdown-menu li + li {
    margin-top: 0px;

  }
  .dynamic-ul li+li{
    /* width: 22vw;
    height: 35vh; 
    margin: 15px; 
    padding: 3px; 
    position: fixed; 
    top:34px; 
    left:40rem; 
    border: 2px solid rgb(5, 0, 0); 
    border-radius: 24px; 
    background-color:white;  */
    color: black; 
    /* z-index: 1; */
  }
  
  .dropdown-container-1 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-trigger-1 {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 255px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  
  .dropdown-trigger-1 span {
    transition: transform 0.2s;
  }
  
  .dropdown-container-1:hover .dropdown-trigger-1 span {
    transform: rotate(180deg);
  }
  
  .dropdown-menu-1 {
    position: absolute;
    left: 385px;
    z-index: 9999;
    display: none;
    width: 150px;
     background-color: black;
    color: white;
    padding: 8px;
    border-radius: 6px;
  }
  .dropdown-menu-1 li{
    border: 2px solid rgba(218, 218, 218, 0.531);
margin: 0;
  }
  .dropdown-container-1:hover .dropdown-menu-1 {
    display: block;
  }
  
  .dropdown-link-2 {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-radius: 1px;
    text-decoration: none;
    color: inherit;
    transition: background-color 2s;
  }
  
  .dropdown-link-1:hover {
    background-color: rgba(59, 130, 246, 0.2); /* Example color for hover effect */
  }
  
  
  /* roads dropdown */
  .dropdown-menu-1 ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .dropdown-menu-1 li + li {
    margin-top: 0px;

  }
  .dynamic-ul-1 li+li{
    /* width: 22vw;
    height: 35vh; 
    margin: 15px; 
    padding: 3px; 
    position: fixed; 
    top:34px; 
    left:40rem; 
    border: 2px solid rgb(5, 0, 0); 
    border-radius: 24px; 
    background-color:white;  */
    color: black; 
    /* z-index: 1; */
  }
  
/* search input dwopdown */

.category-item {
    background-color: white;
    color: inherit;
    border: 2px solid black;
    margin: 4px;
}

.main-map {
     width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease, height 0.3s ease;
    position: relative;
    z-index: 0;
}
.map{
  height: 100%;
  background-color: rgb(149, 207, 214);
}

.main-map.expand {
    width: 100%;
    height: 100%;
}

.btns {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn {
    background-color: chocolate;
    margin: 10px;
    padding: 10px;
}

#map {
    width: 100%;
    height: calc(100% - 60px); /* Adjust height to account for button */
    margin: 20px 0;
}

#toggle-sidebar{
margin: 1px;
}
 #show-table {
    position: sticky;
    top: 10px;
    right: 10px;
    z-index: 2;
    background-color: chocolate;
    border: none;
    padding: 10px;
    cursor: pointer;


    width: 60px; 
    height: 40px; 
    margin: 1px; 
    position: fixed; 
    z-index: 1;
}

#show-table {
    top: 26rem; /* Adjust positioning if needed */
    border-radius: 10px;
}

.table-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
    max-height: 200px;
    overflow-y: auto;
}
 
.tbl{
    height: 400px;
    margin-bottom: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #e35f0e;  
  overflow: hidden;
}
.nav-left a{
  
    float: left; 
    display: block;  
    color: white; 
    text-align: center;  
    padding: 14px 20px; 
    text-decoration: none;
}


.nav-right a{
     
    
    float: left; 
    display: block;  
    color: white; 
    text-align: center;  
    padding: 14px 20px; 
    text-decoration: none;

}
.nav-left a:hover{
    background-color: #3cf124;  
    color: black;
}
.nav-right a:hover{
    background-color: #3cf124; 
    color: black;
}
.nav-left a:active{
    background-color: #4CAF50;  
    color: white;
}
.nav-right a:active{
    background-color: #4CAF50;  
    color: white;

}
 .heading th:hover{
    color: #e35f0e;
 }
 .heading th:active{
    color: #e35f0e;
 }
 .subcolomn td:hover{
    color: #465ade;
 }
 tbody tr{
    height: 40px;
 }
 .subcolomn td{
    
    padding: 4px;
     
 }
 th,tr, td {
    border: 1px solid black;
    
  
  }


  .lower-table{
    width: 50%;
     
  }
#search-input,#search-input-div,#search-input-dropdown{
  display: none;
}



 @media (max-width: 768px) {
    table {
      overflow-x: auto;
      display: block;
    }
    th, td {
      display: block;
    }
    tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
    }
    #show-table{
        width: 2vw;
    }
}

@media (min-width: 600px) {
    .main {
        flex-direction: row;
        
        
    }

    .sidebar {
        width: 440px;
        height: 100%;
    }

    .main-map {
        height: 100%;
    }

    .btns {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    #map {
        height: 100%;
    }
}
@media  (max-width:600px) {
    .main{
        padding: 0;
        margin: 0;
    }
    .icon-btn button{
        position: sticky;
        display: none;
    }
    .sidebar{
        display:none;
    }
    .sidebar2{
display: none;
    }
    #menu-icon{
         
        display:block;
        z-index: 1;
        height: 40px;
        width: 100%;
        margin: 0 0 -20px 0px;
        padding: 12px;
        background-color: black;
        color: aliceblue;
    }
    #map {
        height: 100%;
        width: 100%;
        background: cover;
    }
    #toggle-sidebar{
       display: none;
        }
        #show-table{
            right: 0px;
            top: 26rem;
        }
       
        
}
 @media (max-width: 768px) {
            .lower-table {
                width: 90vw; /* Increase the width to 90% of the viewport width for screens smaller than 768px */
            }
            #show-table{
                width: 3vw;
                opacity: .6;
            }
        }
        
        @media (max-width: 480px) {
            .lower-table {
                width: 100vw; /* Increase the width to 100% of the viewport width for screens smaller than 480px */
            }
            #show-table{
                width: 1vw;
                opacity: .6;
            }
        }
